section#hero-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.single-hero {
		margin: 8px;
		text-align: center;
		color: white;
		box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	}

}