.ability-container {
	display: flex;
}

.ability-item {
	margin: 12px;
	padding: 4px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	background: #333;
	color: white;
}